VITE_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI4ZTY3NGEyNi05Y2RiLTRkMDQtODliMC0wMTQ5ZGMyNTczZGEiLCJlbWFpbCI6ImFiaGlzaGVrbWFuZTE5MTFAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImNjNTk5NDM2Mjc0NTdmMTRlN2VjIiwic2NvcGVkS2V5U2VjcmV0IjoiNzZlNDY1Y2EyNTNjMTZmMGYwNWY3Zjk1MjViNDc0YmZjNDY5NWVlMjU1YzU1MWM2OTgyM2Q2ZWNjMDRiN2M2MCIsImV4cCI6MTgwODYzNDQwMn0.Q1jhGqbicgVIL6jJfVQDemoE6_KYcUMR37v9a9QLNpY
VITE_PINATA_GATEWAY=https://cyan-leading-aardwolf-947.mypinata.cloud