# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/
CS218_Project_Marks_ppt.docx.pdf

# Dotenv file
.env

# Dependencies
lib

# Node (frontend)
node_modules/

.DS_Store

